@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <a type="button" class="btn btn-outline-secondary btn-block" asp-page="">Register</a>
    </div>
    <div class="col-2">
        <a type="button" class="btn btn-outline-secondary btn-block" asp-page="/Events/Index">Login</a>
    </div>
    <div class="col-4"></div>
</div>
